.header-icon {
    cursor: pointer;
}

.badge-count {
    position: relative;
    top: -7px;
    left: -12px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 9px;
    text-align: center;
    background-color: red;
    color: white;
}

.search {
    position: relative;
    width: 250px;
}

.search .fa-search {
    position: absolute;
    top: 10px;
    left: 216px;
    color: gray;
}

.logo-green {
    color: #a7ce61;
}


.grid-sub-menu{
    width: 400px;
}

.grid-sub-item{
    height: 150px;
    
    background-color: white;
}

.grid-sub-item:hover{
    
    background-color: rgb(230, 230, 230);
}

.grid-sub-item > .menu-text{
color:#666;
}



.grid-sub-item .fa-circle{
  color:rgb(196, 196, 196);
}

