<header class="navbar navbar-light btn-light flex-md-nowrap p-2 shadow-sm border-bottom">
  <div class="d-flex">
    <button class="navbar-toggler d-md-none navbar-expand-md collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div>
      <a class="navbar-brand  me-0 px-3 fw-bold fs-2" href="#">work<span class="logo-green">logic</span>EPS</a>
      <div class="dropdown ps-2">
        <button class="btn btn-primary text-dark border-0  bg-transparent text-decoration-none dropdown-toggle btn-sm"
          type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
          Worklogic EPS Demo
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li>
            <button class="dropdown-item" type="button">Worklogic EPS Demo</button>
          </li>
          <li>
            <button class="dropdown-item" type="button">Worklogic EPS Production</button>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="d-flex flex-row">
    <div class="search m-2 me-3">
      <input type="text" class="form-control border rounded-pill" placeholder="Search">
      <i class="fa fa-search"></i>
    </div>
    <div class="d-flex align-items-center header-icon">
      <i class="fa fa-bell-o fa-lg text-black-50"></i>
      <i *ngIf="notificationCount > 0" class="badge-count">{{notificationCount}}</i>
    </div>
    <div class="d-flex px-2 align-items-center header-icon">
      <i class="fa fa-question-circle-o fa-lg text-black-50"></i>
    </div>
    <div class="d-flex px-2 align-items-center header-icon">
      <i class="fa fa-user-circle text-black-50 fa-2x"></i>
    </div>
    <div class="d-flex px-2 align-items-center header-icon">
      <i class="fa fa-th text-black-50 fa-lg"></i>
    </div>
  </div>
</header>