<div class="d-flex">
    <nav id="main-menu" class="min-vh-100 d-flex flex-column">

     <div *ngFor="let item of menuItems" class="main-menu-item" [class.active]="item.IsActive" (click)="showSubMenuItem(item)">
            <div class="d-flex flex-column align-items-center">
                <i [className]="'fa fa-lg ' + item.Icon"></i>
                <span class="main-menu-text pt-2 user-select-none">{{item.Name}}</span>
            </div>
        </div> 
    </nav>

    <div id="sub-menu" *ngIf="showSubMenu">
        <button type="button" class="btn-close btn-close-white ms-3 mt-1" (click)="hideSubMenu()" aria-label="Close"></button>
        <ul>
            <li class="user-select-none" *ngFor="let subItem of selectedMenuItem!.Children">{{subItem.Name}}</li>
        </ul>
    </div>
</div>