#main-menu {
    background-color: #444;
}

.main-menu-item {
    background-color: #444;
    padding: 15px;
    padding-top: 20px;
    color: white;
    cursor: pointer;
}

.main-menu-item:hover {
    background-color: #555;
}

.main-menu-item.active {
    background-color: #666;
}

.main-menu-text {
    font-size: 10px;
    padding-top: 3px;
}

#sub-menu {
    background-color: #666;
    padding-top: 10px;
    position: absolute;
    left: 85px;
    height: 100%;
    width: 200px;
}

#sub-menu ul {
    padding: 0px;
    list-style-type: none;
    font-size: smaller;
}

#sub-menu .btn {
    color: white;
}

#sub-menu li {
    padding: 7px 0px 7px 15px;
    color: white;
}

#sub-menu li:hover {
    background-color: #777;
    cursor: pointer;
}