/* You can add global styles to this file, and also import other style files */
.red {
    background-color: red;
  }
  
  .blue {
    background-color: blue;
  }

  .yellow {
    background-color: yellow;
  }
  
  .badge-count {
    position: relative;
    top: -7px;
    left: -12px;
    width:15px;
    height:15px;
    border-radius: 50%;
font-size:9px;
text-align: center;
background-color: red;
color:white;
  }

  
  .search {
    position: relative;
    width: 250px;
  }
  
  .search .fa-search {
    position: absolute;
    top: 10px;
    left: 216px;
    color: gray;
  }
  
  .logo-green {
    color: #a7ce61;
  }

  .menu-text{
    font-size: 10px;
    padding-top: 3px;
  }
  


/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  margin-top: 50px;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
